:root {
    --default-gradient: 315deg, #495DA4 0%, #7289DA 74%;
    --special-gradient: 315deg, #8980F0 0%, #D577F0 74%;
    --red-gradient: 315deg, #AA3738 0%, #F04747 74%;
    --yellow-gradient: 315deg, #C2831B 0%, #FFB740 74%;
    --green-graident: 315deg, #264D41 0%, #43B581 74%;
    --grey-gradient: 315deg, #373A45 0%, #747F8D 74%;
    --white-gradient: 315deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 74%;
}


/* Animation transitons on hover. */
.side-8zPYf6 > .item-PXvHYJ.selected-3s45Ha:hover, .side-8zPYf6 > .item-PXvHYJ:hover, .valueChecked-m-4IJZ:hover, .button-1YfofB.buttonColor-7qQbGO.button-38aScr:hover, .button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91:hover  { 
    transform: scale(1.080);
    transition: 0.1s linear;
}
.colorGreen-29iAKY:hover, .colorYellow-2JqYwt:hover, .colorRed-1TFJan:hover, .addButton-pcyyf6:hover, .role-2irmRk:hover,  .wrapper-1BJsBx.selected-bZ3Lue > .childWrapper-anI2G9 > .homeIcon-tEMBK1, .button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover  {
    transform: scale(1.085) !important;
    transition: 0.1s linear;
} 
.focused-3afm-j > .imageContainer-2fGqYU > img, .focused-3ZzkKr > img, .selected-ugP_am > svg  { 
    transform: scale(1.3);
    transition: 0.1s linear;
 }
.circleIconButton-jET_ig {
    transition: 0.1s linear;
}


/* Menu buttons (right click, server menu, etc.) */
.focused-3afm-j, .focused-3ZzkKr, #guild-header-popout-invite-people.focused-3afm-j, #guild-context-invite-people.focused-3afm-j, #channel-context-invite-people.focused-3afm-j { 
    color: rgb(255, 255, 255) !important;
    background-image: linear-gradient(var(--default-gradient));
    font-size: 15px;
    font-weight: bold;
    transition: 0.1s linear;
}
#message-delete.focused-3afm-j, #guild-header-popout-leave.focused-3afm-j, #guild-context-leave-guild.focused-3afm-j, #message-actions-delete.focused-3afm-j, #user-context-kick.focused-3afm-j, #user-context-ban.focused-3afm-j, #user-context-voice-disconnect.focused-3afm-j, #user-context-voice-deafen.focused-3afm-j, #user-context-voice-mute.focused-3afm-j, #channel-context-delete-channel.focused-3afm-j, #user-profile-actions-user-remove.focused-3afm-j, #user-profile-actions-user-block.focused-3afm-j { 
    color: rgb(255, 255, 255) !important;
    background-image: linear-gradient(var(--red-gradient));
}
#guild-header-popout-premium-subscribe.focused-3afm-j { 
    color: rgb(255, 255, 255) !important;
    background-image: linear-gradient(var(--special-gradient)) !important;
}


/* Status menu buttons. */
#status-picker-online.focused-3afm-j { 
    background-image: linear-gradient(var(--green-gradient));
}
#status-picker-idle.focused-3afm-j { 
    background-image: linear-gradient(var(--yellow-gradient));
}
#status-picker-dnd.focused-3afm-j { 
    background-image: linear-gradient(var(--red-gradient));
}
#status-picker-invisible.focused-3afm-j { 
    background-image: linear-gradient(var(--grey-gradient));
}


/* Server list (home, add server, discovery icons + servers with no picture). */
.wrapper-1BJsBx.selected-bZ3Lue > .childWrapper-anI2G9 {
    background-image: linear-gradient(var(--default-gradient));
    font-size: 15px;
    font-weight: bold;
}
.selected-ugP_am {
    background-image: linear-gradient(var(--default-gradient));
    font-size: 15px;
    font-weight: bold;
}


/* Most buttons in settings. */
.side-8zPYf6 > .item-PXvHYJ.selected-3s45Ha, [data-item-id="DiscordNitro"]:focus, [data-item-id="GUILD_PREMIUM"]:focus, .valueChecked-m-4IJZ, .button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91  { 
    background-image: linear-gradient(var(--default-gradient)) !important;
}
.colorRed-1TFJan, [data-item-id="logout"]:focus  {
    background-image: linear-gradient(var(--red-gradient));
}
.colorRed-1TFJan > .contents-18-Yxp {
    color: rgb(255,255,255);
}


/* Roles + buttons in Usermenu popout. */
.addButton-pcyyf6:hover, .overflowButton-1SCpCf.actionButton-VzECiy.role-2irmRk:hover {
    background-image: linear-gradient(var(--default-gradient)) !important;
}
.role-2irmRk:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(var(--white-gradient));
}


/* Other buttons. */
.lookFilled-1Gx00P.colorGreen-29iAKY, [aria-label="Add Friend"] { /* Most green buttons */
    background-image: linear-gradient(var(--green-gradient)) !important;
}
.lookFilled-1Gx00P.colorYellow-2JqYwt { /* Most yellow buttons */
    background-image: linear-gradient(var(--yellow-gradient)) !important;
}
.lookFilled-1Gx00P.colorRed-1TFJan { /* Most red buttons */
    background-image: linear-gradient(var(--red-gradient));
}
.secondaryButton-BIo-2g.button-38aScr { /* Secondary Buttons */
    background-image: linear-gradient(var(--white-gradient)) !important;
}
[aria-label="Input Volume"] > .bar-2Qqk5Z > .barFill-23-gu- { /* User Volume Bar */
    background-image: linear-gradient(var(--default-gradient)) !important;
}
[aria-label="Share Your Screen"].button-1YfofB.buttonColor-7qQbGO, [aria-label="Camera Unavailable"].button-1YfofB.buttonColor-7qQbGO, [aria-label="Turn On Camera"].button-1YfofB.buttonColor-7qQbGO, .disabledButtonWrapper-3wH6-b > .button-1YfofB.buttonColor-7qQbGO { /* Video and Screenshare Buttons. */
    background-image: linear-gradient(var(--white-gradient)) !important;
}
.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-image: linear-gradient(var(--default-gradient)) !important;
}
